
@{
    
}

<h1>Estado de cuenta</h1>


<di class=" container-fluid">

    <div class="row">

        @for (int i = 0; i < 4; i++)
        {



        }
            
        






    </div>







</di>
